{{#partial "content"}}

        <div class="d-sm-flex">
            <h1>WILDLIFE TRACKER</h1>
            <div>
                <img class="img-fluid w-50 d-sm-start" src="images/banner.jpg" alt="conservation JPEG">
            </div>
            <div class="my-5">

                <p class="lead my-5">
                    Following a proposal by a timber company to clear-cut the nearby forest of Douglas Fir,
                    this application comes in as a digital tool to aid in an environmental impact study
                    run by the Forest Service through its rangers to report on the animal population
                    sighted in the affected area.Using this platform the Forest Rangers will be able to
                    record and report animal sightings in that area in realtime therefore producing
                    critical data that should contribute to the final decision by the Forest Authority.
                </p>
            </div>
        </div>
    <style>
        img {
        width: 80%;
        margin: 3%;
        }
        p{
        font-family: 'Acme', sans-serif;
        }
        h1 {
        align: center;
        color: lightseagreen;
        }
    </style>

{{/partial}}

{{> layout.hbs}}